/* Fonts */
@font-face {
    font-family: 'Alata';
    src: url('/assets/fonts/Alata/Alata-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/assets/fonts/Alata/Alata-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


/* Site Master Settings */
body {
    /*background stuff*/
    background-image: url(/assets/bgelements/flowers.gif), url(/assets/bgelements/flowers.gif),  url(/assets/bgelements/grass.png);
    background-repeat: repeat-y, repeat-x, repeat;
    background-size: 70px, 70px;

    font-family: 'Alata', sans-serif;
    --primary-color: rgb(135, 231, 255);
    --subtext-color: rgb(159, 196, 207);
    --accent-color: rgb(151, 135, 241);
    --link-color: var(--primary-color);
    --reading: rgb(255, 255, 255);
}

/* Card rectangle */
.card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    position: fixed;
    inset: 10px;
    height: 50vh;
    width: 78vw;
    margin: auto;


    background-color: rgba(19, 51, 40, 0.938);
    border-radius: 10px;
}

#tab1 {
    --tab1-header-size: 28px;
    --tab1-sub-header-size: 22px;

    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    flex-direction: row;
    padding: 20px;

    height: 100%;
}

#profilecol1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#avatar {
    width: 23%;
    height: 35%;
    display: flex;
    object-fit: cover;
    border-radius: 48%;
    border: 2px solid var(--reading);
}

#profileinfo {
    text-align: left;
    line-height: 0.59;
    letter-spacing: 0.1px;
}

#username {
    text-decoration: underline var(--accent-color);
    color: var(--reading);
    font-size: var(--tab1-header-size);
    padding-top: 5px;
}

#pronounsmoment {
    font-size: 17px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color:var(--primary-color);
}

#profilecol2 {
    width: 50%;
}

#title {
    font-size: 30px;
    color: var(--reading);
    text-decoration: underline var(--accent-color);
    line-height: var(--tab1-header-size);
}

#links {
    padding-bottom: auto;
    flex-shrink: 2;
    font-weight: 800;
    line-height: 18px;
    font-size: var(--tab1-sub-header-size);
}

/* tabs bullshit! */
.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 20%;
    padding-left: 0px;
}

.tab-container button {
    font-family: Alata;
    font-weight: 500;
    line-height: 85%;
    letter-spacing: 0.1px;

    background-color: #49a787; /* Green background */
    border: 1px solid rgb(3, 116, 87); /* Green border */
    color: white; /* White text */
    padding: 38px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: flex; /* Make the buttons appear below each other */
}

.tab {
    cursor: pointer;
}

.tab-content {
    display: none;
}

.active-tab {
    background-color: green;
}

.active-content{
    display:flex;
}

a:link {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: underline;
  }