/* Fonts */
@font-face {
    font-family: 'Alata';
    src: url('/assets/fonts/Alata/Alata-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/assets/fonts/Alata/Alata-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


/* Site Master Settings */
body {
    /*background stuff*/
    background-image: url(/assets/bgelements/flowers.gif), url(/assets/bgelements/flowers.gif),  url(/assets/bgelements/grass.png);
    background-repeat: repeat-y, repeat-x, repeat;

    font-family: 'Alata', sans-serif;
}

/* Card rectangle */
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    position: fixed;
    inset: 10px;
    height: 36vh;
    width: 74vw;
    margin: auto;


    background-color: rgba(19, 51, 40, 0.938);
    border-radius: 10px;
}

#avatar {
    width: 30%;
    height: 30%;
    display: flex;
    object-fit: cover;
    padding-bottom: 2%;
    border-radius: 50%;
}

#tab1 {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    width:680%;
}

#profileinfo {
    align-content: space-between;
    text-align: start;
    color:rgb(173, 217, 255);
    line-height: 0.3;
    font-size: 28px;
}

#pronounsmoment {
    font-size: 22px;
    line-height: 0.9;
    color:rgb(255, 255, 255);
}

#profilemiddle {
}

#links {
    font-weight: 800;
    font-size: 30px;
    color:#49a787;
    flex-shrink: 2;
}

/* tabs bullshit! */
.tab-container {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    width: 12%;
    padding: 20px;
}

.tab-container button {
    font-family: Alata;
    font-weight: 500;
    line-height: 104%;
    align-items: center;
    justify-content: center;
    letter-spacing:1.2px;


    background-color: #49a787; /* Green background */
    border: 1px solid rgb(3, 116, 87); /* Green border */
    color: white; /* White text */
    padding: 6px 7px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 110%; /* Set a width if needed */
    display: flex; /* Make the buttons appear below each other */
    height:12%
}

.tab {
    cursor: pointer;
}

.tab-content {
    display: none;
}

.active-tab {
    background-color: green;
}

.active-content{
    display:flex;
    flex-direction: row;
    padding: 10%;

    flex-grow: 4;
}

a:link {
    color: rgb(173, 217, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(173, 217, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(173, 217, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(173, 217, 255);
    background-color: transparent;
    text-decoration: underline;
  }